<div class="card text-light starter" id="card">
	<div class="card-header text-center">
		<h1 class="hvr-bounce-in">Atuação</h1>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-sm-8" data-aos="zoom-in">
				<img src="img/mapa.png" class="hvr-shrink img-fluid">
			</div>
			<div class="col-sm-4" data-aos="zoom-in-left">
				<div class="text-center text-light" style="background: #02519F">
					<h1>Onde Estamos</h1>
				</div>
				<div class="row">
					<div class="col-sm-3 text-center">
						<p class="">Acre</p>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	<div class="card-footer">
		<span class="text-center">
			<p class="footer-p">
				&copy 2020 - OCS Oficina Comércio e Serviços
			</p>
		</span>
	</div>	
</div>