<div class="card text-light starter" id="card">
	<div class="card-header text-center">
		<h1 class="hvr-bounce-in">Atuação</h1>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-sm-3" style="margin-top: auto">
				<div class="row">
					<div class="col-sm-2">
						<span style="background-color: blue; color: blue; float: right;">aaa</span>
					</div>
					<div class="col-sm-5">
						<h6>ATUAMOS</h6>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-sm-2">
						<span style="background-color: white; color: white; float: right;">aaa</span>
					</div>
					<div class="col-sm-10">
						<h6>IREMOS CHEGAR</h6>
					</div>
				</div>
			</div>
			<div class="col-sm-1">
				<img src="img/mapa.png" class="hvr-shrink">
			</div>
		</div>
		
	</div>
	<div class="card-footer">
		<span class="text-center">
			<p class="footer-p">
				&copy 2020 - OCS Oficina Comércio e Serviços
			</p>
		</span>
	</div>	
</div>