<div class="card text-light starter" id="card">
	<div class="card-header text-center">
		<h1 class="hvr-bounce-in">Clientes</h1>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-sm-4">
				<img src="img/sesc.png" class="hvr-grow-rotate">
			</div>
			<div class="col-sm-4">
				<img src="img/vertiv.png" class="hvr-grow-rotate">
			</div>
			<div class="col-sm-4">
				<img src="img/nextel.png" class="hvr-grow-rotate">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<img src="img/marinha.png" class="hvr-grow-rotate">
			</div>
			<div class="col-sm-4">
				<img src="img/oi.png" class="hvr-grow-rotate">
			</div>
			<div class="col-sm-4">
				<img src="img/universal.png" class="hvr-grow-rotate">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<img src="img/nokia.png" class="hvr-grow-rotate">
			</div>
			<div class="col-sm-4">
				<img src="img/vivo.png" class="hvr-grow-rotate">
			</div>
			<div class="col-sm-4">
				<img src="img/protec_amaz.png" class="hvr-grow-rotate">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<img src="img/hydro.png" class="hvr-grow-rotate">
			</div>
			<div class="col-sm-4"></div>
		</div>
	</div>
	<div class="card-footer">
		<span class="text-center">
			<p class="footer-p">
				&copy 2020 - OCS Oficina Comércio e Serviços
			</p>
		</span>
	</div>
</div>