<style>
    .img-cliente{
        margin: 10px 40px;
    }
</style>
<div class="card text-light starter" id="card">
	<div class="card-header text-center">
		<h1 class="hvr-bounce-in">Clientes</h1>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-sm-4 mx-auto" data-aos="zoom-out-up">
				<img src="img/sesc.PNG" class="hvr-grow-rotate img-fluid">
			</div>
			<div class="col-sm-4 mx-auto" data-aos="zoom-out-up">
				<img src="img/vertiv.PNG" class="hvr-grow-rotate img-fluid ">
			</div>
			<div class="col-sm-4" data-aos="zoom-out-up">
				<img src="img/nextel.PNG" class="hvr-grow-rotate img-fluid">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4" data-aos="zoom-out-up">
				<img src="img/marinha.PNG" class="hvr-grow-rotate img-fluid img-cliente" width="200">
			</div>
			<div class="col-sm-4" data-aos="zoom-out-up">
				<img src="img/oi.PNG" class="hvr-grow-rotate img-fluid img-cliente" width="200">
			</div>
			<div class="col-sm-4" data-aos="zoom-out-up">
				<img src="img/universal.PNG" class="hvr-grow-rotate img-fluid img-cliente" width="200">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4" data-aos="zoom-out-up">
				<img src="img/nokia.PNG" class="hvr-grow-rotate img-fluid">
			</div>
			<div class="col-sm-4" data-aos="zoom-out-up">
				<img src="img/vivo.PNG" class="hvr-grow-rotate img-fluid">
			</div>
			<div class="col-sm-4" data-aos="zoom-out-up">
				<img src="img/agu.png" class="hvr-grow-rotate img-fluid">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4" data-aos="zoom-out-up"></div>
			<div class="col-sm-4" data-aos="zoom-out-up">
				<img src="img/hydro.PNG" class="hvr-grow-rotate img-fluid img-cliente">
			</div>
			<div class="col-sm-4" data-aos="zoom-out-up"></div>
		</div>
	</div>
	<div class="card-footer">
		<span class="text-center">
			<p class="footer-p">
				&copy 2020 - OCS Oficina Comércio e Serviços
			</p>
		</span>
	</div>
</div>