<div class="card text-light starter" id="card">
	<div class="card-header text-center">
		<h1 class="hvr-bounce-in">Corpo Técnico</h1>
	</div>
	<div class="card-body">
		<div id="tree" style="font-family: 'Gochi Hand', cursive; width: 100%; height: 50%;"></div>
		
	</div>
	<div class="card-footer">
		<span class="text-center">
			<p class="footer-p">
				&copy 2020 - OCS Oficina Comércio e Serviços
			</p>
		</span>
	</div>
</div>
<script type="text/javascript" src="js/corpo_tecnico.js"></script>