<div class="modal-header navs">
  <h5 class="modal-title text-light" id="text">Endereço</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body footer-p">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1994.263668055979!2d-48.50493877527804!3d-1.4575828509634527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92a48ef69a111e59%3A0xbadbd18ef2ba5d48!2sR.%20Dr.%20Malcher%2C%20210%20-%20Cidade%20Velha%2C%20Bel%C3%A9m%20-%20PA%2C%2066020-250!5e0!3m2!1spt-BR!2sbr!4v1583359292531!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
<div class="modal-footer">
  <p class="footer-p">
    &copy 2020 - OCS Oficina Comércio e Serviços
  </p>
</div>