<div class="card text-light starter" id="card">
	<div class="card-header text-center">
		<h1 class="hvr-bounce-in">Estrutura</h1>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-sm-3">
				<img src="img/frota.png" height="200" width="200" class="hvr-shrink img-fluid">
			</div>
			<div class="col-sm-6 ">
				<h3>Frota de Veículos</h3>
				<hr>
				<p>Próprios e alugados (veículo de passeio, utilitário e transportes para grandes cargas).</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-3">
				<img src="img/equipes.png" height="200" width="200" class="hvr-shrink img-fluid">
			</div>
			<div class="col-sm-6 ">
				<h3>EQUIPES MULTIDISCIPLINARES</h3>
				<hr>
				<p>Atuando em 21 Estados do Brasil, o que possibilita imediata ampliação da estrutura para atender novos contratos.</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-3">
				<img src="img/estrutura.png" class="hvr-shrink img-fluid">
			</div>
			<div class="col-sm-6 ">
				<h3>Estrutura</h3>
				<hr>
				<p>Prédio Administrativo em Belém.</p>
				<p>Galpão em Ananindeua, para armazenagem de frota e materiais.</p>
			</div>
		</div>
	</div>
	<div class="card-footer">
		<span class="text-center">
			<p class="footer-p">
				&copy 2020 - OCS Oficina Comércio e Serviços
			</p>
		</span>
	</div>	
</div>