<div class="text-center text-md-left">
	<div class="row">
		<div class="col-sm-3 border-footer">
			<h4>Navegação</h4>
			<ul class="list-unstyled">
				<li>
					<a href="#" class="hvr-float-shadow" id="estrutura" onclick="carregaMain('estrutura')">Estrutura</a>
				</li>
				<li>
					<a href="#" class="hvr-float-shadow" id="atuacao" onclick="carregaMain('atuacao')">Atuação</a>
				</li>
				<li>
					<a href="#" class="hvr-float-shadow" id="corpo_tecnico" onclick="carregaMain('corpo_tecnico')">Nosso time</a>
				</li>
				<li>
					<a href="#" class="hvr-float-shadow" id="servico" onclick="carregaMain('servico')">Serviços</a>
				</li>
				<li>
					<a href="#" class="hvr-float-shadow" id="cliente" onclick="carregaMain('cliente')">Clientes</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-3 border-footer">
			<h4>Contatos</h4>
			<ul class="list-unstyled">
				<li>(91) 3349-8358</li>
				<li>(91) 4141-0486</li>
				<li>oficina_cs@hotmail.com</li>
			</ul>
		</div>
		<div class="col-sm-3 border-footer">
			<h4>Endereço</h4>
			<ul class="list-unstyled">
				<li>
					<a href="#" data-toggle="modal" id="end" data-target="#modal" class="hvr-wobble-to-top-right">
						RUA DOUTOR MALCHER, 210, CIDADE VELHA, BELÉM/PA, CEP: 66.020-250.
					</a>
				</li>				
			</ul>
		</div>
		<div class="col-sm-3 border-footer">
			<h4>Redes Sociais</h4>
			<a href="https://www.facebook.com/Oficina-Comercio-e-Servi%C3%A7os-111771137116412/" class="btn btn-block btn-social btn-facebook">
	    		<span class="fa fa-facebook"></span>Curta no Facebook
	       	</a>
	       	<a href="mailto:oficina_cm@hotmail.com" class="btn btn-block btn-social btn-microsoft">
		    	<span class="fa fa-windows"></span>Enviar E-mail
		   	</a>
		   	<a href="https://www.instagram.com/nogueira_henrick" class="btn btn-block btn-social btn-success">
		    	<span class="fa fa-whatsapp"></span>Chame no Whatsapp
		   	</a>
		</div>
	</div>
</div>
<!-- Copyright -->
<div class="text-center footer-bottom">
	© 2020 Copyright: OCS Oficina Comércio e Serviços
</div>
<!-- Copyright -->
<script type="text/javascript" src="js/end.js"></script>