<form role="form">
	<div class="text-center">
		<img src="img/logo.png" style="border-radius: 5px 5px 0px 0px; width: 200px;">
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label for="login">Usuário</label>		
			<input type="email" id="login" class="form-control" placeholder="Escreva seu email" name="login" required autofocus>
		</div>
		<div class="form-group">
			<label for="password">Senha</label>
			<input type="password" id="password" class="form-control" placeholder="Escreva sua senha" name="password" required>
		</div>
	</div>
	<div class="modal-footer">
		<!-- <button class='btn btn-warning' type='button' id='btn-denunciar'>Denunciar</button> -->
		<button class="btn btn-primary" type="submit">Entrar</button>
	</div>
</form>
<script src="js/login.js"></script>