<nav class="navbar navbar-expand-lg navbar navbar-dark navs" >
	<a class="navbar-brand" href="index.html">
		<img width="80px" height="32" src="img/logo-card.png" class="hvr-bounce-in">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item">
				<a class="nav-link hvr-float-shadow" href="#" id="atuacao">Atuação</a>
			</li>
			<li class="nav-item">
				<a class="nav-link hvr-float-shadow" href="#" id="corpo_tecnico">Corpo Técnico</a>
			</li>
			<li class="nav-item">
				<a class="nav-link hvr-float-shadow" href="#" id="servicos">Serviços</a>
			</li>
			<li class="nav-item">
				<a class="nav-link hvr-float-shadow" href="#" id="clientes">Clientes</a>
			</li>
		</ul>
		<div class="form-inline my-2 my-lg-0">
			<!-- Whatsapp -->
			<a href="https://api.whatsapp.com/send?phone=5521971703956&amp;text=Ol%C3%A1%20LTR%2C%20visitei%20o%20seu%20site%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es!" class="mr-sm-4 hvr-grow-shadow" onclick="true" data-id="link-externo" target="_blank">
				<img src="https://emprezaz.com/galerias/d282ef263719ab842e05382dc235f69e/1291/1a9930cb307e7370d8e419563c2278c5.png" style="">
			</a>
			<!-- Instagram -->
			<a href="https://www.instagram.com/ltrengenhariaeservicos/?hl=pt-br" onclick="true" class="mr-sm-4 hvr-grow-shadow" data-id="link-externo" target="_blank">
				<img src="https://emprezaz.com/galerias/d282ef263719ab842e05382dc235f69e/1291/73d9cd398553c05a9a74d6a0f783e973.png" style="">
			</a>
			<a href="https://www.facebook.com/Oficina-Comercio-e-Servi%C3%A7os-111771137116412/" onclick="true" data-id="link-externo" class="mr-sm-4 hvr-grow-shadow" target="_blank">
				<img src="https://emprezaz.com/galerias/d282ef263719ab842e05382dc235f69e/1291/d71ca94289919b5fde2dc27e4c2611e2.png" style="">
			</a>
		</div>
	</div>
</nav>

<script type="text/javascript" src="js/navbar.js"></script>