<div class="card text-light starter" id="card">
  <div class="card-header text-center">
    <h1 class="hvr-bounce-in">Lista Serviços</h1>
  </div>
  <div class="card-body">
    <table id="datatable" class="table table-striped" style="width:100%">
      <thead class='navs text-light'>
        <tr>
          <th>ID</th>
          <th>Nome</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Instalação, integração e comissionamento de equipamentos de telecomunicações</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Instalação de sistemas irradiantes</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Instalação e configuração de rádio enlace</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Instalação, comissionamento e testes de sistemas de transmissão</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Fiscalização de redes internas e externas</td>
        </tr>
      </tbody>
    </table>    
  </div>
  <div class="card-footer">
    <span class="text-center">
      <p class="footer-p">
        &copy 2020 - OCS Oficina Comércio e Serviços
      </p>
    </span>
  </div>  
</div>

<script type="text/javascript" src="js/servicos.js"></script>