<div class="card text-light starter" id="card">
	<div class="card-header text-center">
		<h1 class="hvr-bounce-in">Sobre nós</h1>
	</div>
	<div class="card-body text-center">
		<p>A OFICINA COMÉRCIO E SERVIÇOS é uma empresa genuína da região Norte, sediada na cidade de Belém, capital do Estado do Pará,fundada no ano de 2008.</p>
		<p>Atualmente atuando em quase todo o território Nacional.</p>
		<p>Com foco inicial no segmento de climatização, ampliou sua abrangência, atendendo os segmentos de Telecomunicação, Climatização, Energia/Elétrica, Hiráulica, Construção Civil e Manutenções.</p>
		<p>Tendo como foco a satisfação, qualidade e agilidade nos serviços prestados aos seus clientes.</p>
		<p>Possui experiência em obras de pequeno, médio e grande porte. Atuando simultaneamente em várias regiões em todo o Brasil.</p>
	</div>
	<div class="card-footer">
		<span class="text-center">
			<p class="footer-p">
				&copy 2020 - OCS Oficina Comércio e Serviços
			</p>
		</span>
	</div>	
</div>