<form role="form">
	<div class="modal-header">
		<h4 class='modal-title'></h4>
		<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">&times;</button>
	</div>
	<div class="modal-body">
		<input type='hidden' name='idusuario'>
		<div class="row">
			<div class="col-sm-6">
				<label for='nome'>Nome</label>
				<input class='form-control' type='text' id='nome' name='nome' placeholder='Escreva o nome completo do usuário' required>
			</div>
			<div class="col-sm-6">
				<label for='rg'>RG</label>
				<input class='form-control' type='text' id='rg' name='rg' placeholder='Digite o RG do usuário' required>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<label for='cpf'>CPF</label>
				<input class='form-control' id='cpf' name='cpf' placeholder='Digite o CPF do usuário' required>	
			</div>
			<div class="col-sm-6">
				<label for='email'>E-mail</label>
				<input class='form-control' type='email' id='email' name='email' placeholder='Escreva o e-mail do usuário' required>	
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<label>Data de Nascimento</label>
				<input type="date" class="form-control" id="dt_nascimento" name="dt_nascimento">
			</div>
			<div class="col-sm-6">
				<label for='permissao'>Permissões</label>
				<select class='form-control selectpicker' name='permissao[]' data-live-search='false' data-actions-box='true' required multiple></select>	
			</div>
		</div>
		<div class="from-group">			
			<label>Instituição</label>
			<div id='div-setor'>
				<select class='form-control selectpicker' id='idinstituicao' name='idinstituicao' data-live-search='true' required></select>
			</div>	
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="checkbox" id="ativado" name='ativado'>
		  <label class="form-check-label" for="ativado">Ativado</label>
		</div>
	</div>
	<div class="modal-footer">
		<button class='btn btn-success' type='submit'>Salvar</button>
		<button class='btn btn-danger' type='button' id='btn-excluir'>Excluir</button>
		<button class='btn btn-primary' type='button' id='btn-renovar-senha'>Renovar senha</button>		
	</div>
</form>

<script src='js/usuario-form.js'></script>